.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./greenBackground.png');
}
@media screen and (max-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.down {
  color: white;
  font-size: 150px;
  margin: 0px;
  text-align: left;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .down {
    font-size: 80px;
  }
}
@media screen and (max-width: 700px) {
  .down {
    font-size: 60px;
  }
}
.count {
  margin: 0px;
  margin-bottom: -80px;
}
@media screen and (max-width: 900px) {
  .count {
    margin-bottom: -30px;
  }
}
.button {
  position: absolute;
  right: 10%;
  top: 30%;
  margin: 10px;
  margin: 0px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (max-width: 900px) {
  .button {
    top: 80%;
  }
}
.plus {
  background-color: transparent;
  border-color: transparent;
}
.icon {
  display: inline-block;
  font: normal normal normal 14px/1;
  font-size: inherit;

}
